@font-face{
  font-family: 'PokemonSolid';
  src: url('../assets-landing-page/fonts/PokemonSolid.ttf');
}
@font-face{
  font-family: 'PokemonHollow';
  src: url('../assets-landing-page/fonts/PokemonHollow.ttf');
}